.check__main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.check__info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.check__explanation {
  font-family: "Courier New", Courier, monospace;
  box-shadow: 12px 12px 12px 12px rgb(221, 217, 217);
  width: 60%;
  padding: 30px;
  font-weight: 600;
  border-radius: 12px;
}


.move__check {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}