/* main divs */
.navbar__main {
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 10px 5px rgb(234, 231, 231);

  align-items: center;
  padding: 10px;

  height: 80px;
}

/* slogan */
.navbar__slogan {
  color: rgb(180, 180, 67);
  font-size: 23px;
}

/* icons */
.navbar__icons__ul {
  display: flex;
  text-decoration: none;
  list-style: none;
  gap: 20px;
}

.color {
  color: black;
}
